#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.gallery-list__item img {
    max-width: 70%;
    height: auto;
    margin-bottom: 15px;
}
